.main {
background-color: #FBF6F4;
}

.hero{
  position: relative;
  overflow: hidden;

}

.heroImage{
  width: 100%;

 overflow: hidden;
  margin: -10% auto;
  max-height: 900px;

  

}

.heroTitle{
  position: absolute;
  bottom: 9%;



width: 100%;

text-align: center;


  font-size: 1.7rem;
  
  

  
}
.heroTitle h1 {
  margin: 0;
}
.cta{
  background-color: orange;
  width: 12rem;
  height: 3rem;
  color: #ffffff !important;
  border: none;
  margin: 1% auto 0 auto;
  font-size: 1.2rem;
  color: black;
  font-weight: 800 ;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
cursor: pointer;
  
}
.services{
  display: flex;
  justify-content: center;
  align-items: center;
}
.subTitle{
  font-size: 2rem;
 display: flex;
 justify-content: center;
 width: 100%;
}

.container{

  background-color: #FDF4E6;
  width: 90%;
  min-width: 25rem;
  margin: 2% 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100rem;
  justify-content: center;
  padding-bottom: 3rem;
}
.iconContainer{
  display: flex;
  flex-wrap: wrap;
  column-gap: 100rem;
  justify-content: center;
  width: 200px;


}
.iconContainer p{
  margin:0;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.iconContainer div{
  width: 100px;
  height: 100px;
}
.serviceIcons{
  display: flex;
  width: 100%;

  justify-content: space-evenly;


}
.hireMe{
 font-size: 1.5rem;
 align-items: center;
 height: 3rem;
 display: flex;
 color: black;
font-weight: bold;
margin-top: 2rem;
}

.aboutMe{
  background-color: white;
  max-width: 30rem;
  min-width: 23rem;
  margin: 0 auto;
  padding: 1rem;
display: flex;
flex-wrap: wrap;
justify-content: center;
  margin-bottom: 2rem;
}
.aboutCta{
  background-color: orange;
  width: 12rem;
  height: 3rem;
  margin: 0 auto;
  border: none;
  font-weight: 800;
  cursor: pointer;
}
.aboutMe h2 {
  margin: 1rem 0 1.5rem 0;
  text-align: center;
  font-size:2.5rem;
  font-weight: 800;
  
}
.aboutMe p {
  text-align: center;
  font-weight: 600;
  margin: 0 0 1.5rem 0;
  font-size: 1.2rem;

}
.aboutMe ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100rem;
  row-gap: 1rem;
  font-size: 1.1rem;

} .aboutMe ul li {
  margin-right: 5%;
}
.testimonies{

display: flex;
overflow-x: hidden;
column-gap: 500rem;
justify-content: center;
width: 100%;background-color: #FBF6F4;

}
.testimonialsContainer{
  width: 100%;
  
}

.testimonials{

 
width: 100%;
display: flex;

  flex-wrap: wrap;
  column-gap: 1000rem;
  justify-content: center;
  align-items: center;


}


.testimonials h2 {
  font-size: 2.5rem;
}
.testimonials p {
  font-size: 1.5rem;
  font-weight: bold;

  max-width: 26rem;
  margin: 0 auto;

}
.stars{
margin: 1rem auto 3rem auto;
width: 25.5rem;
font-size: 1.5rem;
}
.testimony{
display: flex;
justify-content: center;
margin: 2rem;
height: 10rem;
}

.image{

height: 50px;
width: 50px;
max-width: 50px;
max-height: 50px;
margin-left: 1rem;
border-radius: 50px;
overflow: hidden;


}
.name{
font-size: 1.2rem !important;
margin-left: 2rem !important;


}
.arrowsContainer{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 5%;
}
.comment{
  font-size: 1.1rem !important;
  font-weight: 400 !important;
  margin-left: 2rem !important;
}









.contactForm{
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  column-gap: 500rem;
}
.contactForm h2{
  font-size: 2.5rem;
  margin: 3% 5rem;

}
.formAndDetails{
  display: flex;
  width: 100%;
}

@media only screen and (max-width:960px) {
  .heroImage{
    margin: 0% auto;
  }
  .serviceIcons{
    flex-wrap: wrap;
  }
  .formAndDetails{
    flex-wrap: wrap;
  }
  .verticalDetails{
    display: flex;

  
  
    width: 100%;
    justify-content: center;
    column-gap: 3rem;
    margin-bottom: 1rem;
  }
  .contactForm h2{
    margin: 5% auto;
  }
  
}
@media only screen and (min-width:960px) {
  .verticalDetails{
    display: flex;
    flex-wrap: wrap;
    column-gap: 500rem;
    margin-left: 5rem;
  
    width: 15rem;
  
  }
  
}
